{
    "swagger": "2.0",
    "info": {
        "version": "0.0.0",
        "title": "Generic Event module"
    },
    "host": "fundr.api.qa1.nbos.in",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "securityDefinitions":
    {
     "Bearer":{
       "type": "apiKey",
       "name": "Authorization",
       "in": "header"
     }
    },   
    "paths": {
        "/events/v0/{tenantId}/events": {
            "get": {
                "summary": "List of all Events in a tenant",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "tenantId",
                        "description": "ID of tenant",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                         "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ShowEvent"
                            }
                        }
                    },
                    "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/BadRequest"
                      }
                    },
                    "401": {
                      "description": "Unauthorized",
                      "schema": { 
                          "$ref": "#/definitions/UnauthorizedRequest"
                      }
                    },
                    "500": {
                      "description": "Internal Server Error",
                      "schema": {
                          "$ref": "#/definitions/ServerError"
                      }
                    }
                }
            }

        },
        "/events/v0/events": {
           "get": {
              "summary": "List of all Events",
              "tags": ["module:events"],
              "security": [
                  {
                    "Bearer": []
                  }
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ShowEvent"
                            }
                        }
                  },
                  "400": {
                    "description": "Bad Request",
                    "schema": {
                        "$ref": "#/definitions/BadRequest"
                    }
                  },
                  "401": {
                    "description": "Unauthorized",
                    "schema": { 
                        "$ref": "#/definitions/UnauthorizedRequest"
                    }
                  },
                  "500": {
                    "description": "Internal Server Error",
                    "schema": {
                        "$ref": "#/definitions/ServerError"
                    }
                  }
              }
            },
            "post": {
              "summary": "Create An Event",
              "tags": ["module:events"],
              "security": [
                  {
                    "Bearer": [ ]
                  }
              ],
              "parameters": [
                {
                  "in": "body",
                  "name": "body",
                  "description": "New Event to be add",
                  "required": true,
                  "schema": {
                            "$ref": "#/definitions/Event"
                        }
                }
                
              ],
              "responses": {
                  "200": {
                      "description": "Success",
                      "schema": {
                            "$ref": "#/definitions/ShowEvent"
                      }
                  },
                  "400": {
                    "description": "Bad Request",
                    "schema": {
                        "$ref": "#/definitions/BadRequest"
                    }
                  },
                  "401": {
                    "description": "Unauthorized",
                    "schema": { 
                        "$ref": "#/definitions/UnauthorizedRequest"
                    }
                  },
                  "500": {
                    "description": "Internal Server Error",
                    "schema": {
                        "$ref": "#/definitions/EventModelError"
                    }
                  }
              }
          }    
          
        },
        "/events/v0/media": {
          "post": {
            "summary": "Upload a Picture.",
            "tags": ["module:events"],
            "security": [
                {
                    "Bearer": [

                    ]
                }
            ],
            "parameters": [
               
                {
                    "in": "query",
                    "name": "id",
                    "description": "ID of source to upload picture.",
                    "required": true,
                    "type": "integer"
                },
                {
                    "in": "query",
                    "name": "media_for",
                    "description": "Type of model like company_logo, company_brand, profile, associate_profile,event.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "formData",
                    "name": "image_file",
                    "description": "Image File Content",
                    "required": true,
                    "type": "file"
                }
            ],
            "produces": [
               "application/json"
            ],                
            "responses": {
                "200": {
                    "description": "Success",
                    "schema": {
                          "$ref": "#/definitions/Media"
                       }
                },
                "400": {
                  "description": "Bad Request",
                  "schema": {
                      "$ref": "#/definitions/BadRequest"
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "schema": { 
                      "$ref": "#/definitions/UnauthorizedRequest"
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "schema": {
                      "$ref": "#/definitions/ServerError"
                  }
                }
            }
          },
          "get": {
            "summary": "get Picture.",
            "tags": ["module:events"],
            "security": [
                {
                    "Bearer": [

                    ]
                }
            ],
            "parameters": [
               
                {
                    "in": "query",
                    "name": "id",
                    "description": "ID of Picture",
                    "required": true,
                    "type": "integer"
                }
            ],
            "produces": [
               "application/json"
            ],                
            "responses": {
                "200": {
                    "description": "Success",
                    "schema": {
                            "$ref": "#/definitions/Media"
                    }
                },
                "400": {
                  "description": "Bad Request",
                  "schema": {
                      "$ref": "#/definitions/BadRequest"
                  }
                },
                "401": {
                  "description": "Unauthorized",
                  "schema": { 
                      "$ref": "#/definitions/UnauthorizedRequest"
                  }
                },
                "500": {
                  "description": "Internal Server Error",
                  "schema": {
                      "$ref": "#/definitions/ServerError"
                  }
                }
            }
          }

        },
        "/events/v0/events/{eventId}": {
            "get": {
                "summary": "Get information about a specific event",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ShowEvent"
                        }
                    },
                    "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/BadRequest"
                      }
                    },
                    "401": {
                      "description": "Unauthorized",
                      "schema": { 
                          "$ref": "#/definitions/UnauthorizedRequest"
                      }
                    },
                    "500": {
                      "description": "Internal Server Error",
                      "schema": {
                          "$ref": "#/definitions/ServerError"
                      }
                    }
                }  
            },
            "put": {
                "summary": "Update an Event.",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": [

                        ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event that needs to be update",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "New Event to be add",
                        "required": true,
                        "schema": {
                                "$ref": "#/definitions/Event"
                        }
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ShowEvent"
                        }
                    },
                    "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/BadRequest"
                      }
                    },
                    "401": {
                      "description": "Unauthorized",
                      "schema": { 
                          "$ref": "#/definitions/UnauthorizedRequest"
                      }
                    },
                    "500": {
                      "description": "Internal Server Error",
                      "schema": {
                          "$ref": "#/definitions/EventModelError"
                      }
                    }
                }
         }   
        },
        "/events/v0/events/{eventId}/attend": {
           "post": {
                "summary": "Send RSVP to an Event",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ShowEvent"
                        }
                    },
                    "400": {
                      "description": "Bad Request",
                      "schema": {
                          "$ref": "#/definitions/BadRequest"
                      }
                    },
                    "401": {
                      "description": "Unauthorized",
                      "schema": { 
                          "$ref": "#/definitions/UnauthorizedRequest"
                      }
                    },
                    "500": {
                      "description": "Internal Server Error",
                      "schema": {
                          "$ref": "#/definitions/ServerError"
                      }
                    }
                }
            }
        }    
    },
    "definitions": {
        "Event": {
            "type": "object",
            "required": [
                "name",
                "address",
                "start_date",
                "end_date",
                "start_time",
                "end_time",
                "location"
            ],
            "properties": {
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "location": {
                    "type": "string"
                },
                "contact_person": {
                    "type": "string"
                },
                "contact_number": {
                    "type": "string"
                },
                "website": {
                    "type": "string"
                },
                "start_date": {
                   "type": "string"
                },
                "end_date": {
                   "type": "string"
                },
                "start_time": {
                   "type": "string"
                },
                "end_time": {
                   "type": "string"
                }
            }
        },
        "ShowEvent": {
            "type": "object",
            "required": [
                "id",
                "name",
                "description",
                "address",
                "schedule_date",
                "schedule_time",
                "location",
                "website",
                "image_url",
                "contact_person",
                "contact_number",
                "attendencies"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "Sample Event"
                },
                "description": {
                    "type": "string",
                    "example": "Sample Event"
                },
                "address": {
                    "type": "string",
                    "example": "Hyderabad"
                },
                "location": {
                    "type": "string",
                    "example": "Hitech City"
                },
                "contact_person": {
                    "type": "string",
                    "example": "Jhon"
                },
                "contact_number": {
                    "type": "string",
                    "example": "8769876567"
                },
                "website": {
                    "type": "string",
                    "example": "http://wavelabs.in"
                },
                "image_url": {
                    "type": "object",
                    "example": {
                                "id": 1,
                                "extension": "image/jpeg",
                                "mediaFileDetailsList": [
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/medium/event2.jpg?1475065430",
                                    "mediatype": "medium"
                                  },
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/small/event2.jpg?1475065430",
                                    "mediatype": "small"
                                  },
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/original/event2.jpg?1475065430",
                                    "mediatype": "original"
                                  }
                                ],
                                "supportedsizes": "small:48x48,medium:300x200"
                     }           
                },
                "schedule_time": {
                     "type": "string",
                     "example": "09:30AM-05:30AM"
                },
                "schedule_date": {
                     "type": "string",
                     "example": "Oct 10-Oct 10"
                },
                "attendencies": {
                     "type": "integer",
                     "example": 0
                }
            }
        },
        "EventModelError": {
          "type": "object",
          "required": [
                "errors"
            ],
          "properties": {
            "errors": {
               "type": "array",
               "items": {},
               "default": [
                            {
                              "messageCode": "event.name",
                              "message": "name empty",
                              "propertyName": "name",
                              "objectName": "Com::Nbos::Events::Event"
                            }
                          ]  
            }
          }  
        },
        "Media": {
          "type": "object",
          "required": [
                "id",
                "extension",
                "mediaFileDetailsList",
                "supportedsizes"
            ],
          "properties": {
            "id": {
                "type": "integer",
                "items": {},
                "default": 1
            },
            "extension": {
                "type": "string",
                "items": {},
                "default": "image/jpeg"
            },
            "mediaFileDetailsList": {
                "type": "array",
                "items": {},
                "default": [
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/medium/event2.jpg?1475065430",
                                    "mediatype": "medium"
                                  },
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/small/event2.jpg?1475065430",
                                    "mediatype": "small"
                                  },
                                  {
                                    "mediapath": "http://localhost:3000/images/media/events/1/original/event2.jpg?1475065430",
                                    "mediatype": "original"
                                  }
                                ]
            },
            "supportedsizes": {
                "type": "string",
                "items": {},
                "default": "small:48x48,medium:300x200"
            }
          }

        },
        "BadRequest": {
          "type": "object",
          "required": [
                "messageCode",
                "message"
            ],
          "properties": {
            "messageCode": {
                "type": "string",
                "default": "Bad.Request"
            },
            "message": {
                "type": "string",
                "default": "Bad Request"
            }
          }

        },
        "UnauthorizedRequest": {
          "type": "object",
          "required": [
                "messageCode",
                "message"
            ],
          "properties": {
            "messageCode": {
                "type": "string",
                "default": "module.unauthorized"
            },
            "message": {
                "type": "string",
                "default": "You are not SubScribed To Event Module"
            }
          }

        },
        "ServerError": {
          "type": "object",
          "required": [
                "messageCode",
                "message"
            ],
          "properties": {
            "messageCode": {
                "type": "string",
                "default": "internal.server.error"
            },
            "message": {
                "type": "string",
                "default": "Internal Server Error"
            }
          }

        }  
    }
}