{
    "swagger": "2.0",
    "info": {
        "version": "0.0.0",
        "title": "Generic Event module"
    },
    "host": "fundr.api.qa1.nbos.in",
    "basePath": "/api",
    "securityDefinitions":
    {
     "Bearer":{
       "type": "apiKey",
       "name": "Authorization",
       "in": "header"
     }
    },   
    "paths": {
        "/events/v0/{tenantId}/events": {
            "get": {
                "summary": "List of all Events in a tenant",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": [

                        ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "tenantId",
                        "description": "ID of tenant",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }

        },
        "/events/v0/events": {
           "get": {
              "summary": "List of all Events",
              "tags": ["module:events"],
              "security": [
                  {
                    "Bearer": [

                    ]
                  }
              ],
              "parameters": [
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
            },
            "post": {
              "summary": "Create An Event",
              "tags": ["module:events"],
              "security": [
                  {
                    "Bearer": [ ]
                  }
              ],
              "parameters": [
                {
                  "in": "body",
                  "name": "name",
                  "description": "Name of the Event",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "description",
                  "description": "Description about Event",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "address",
                  "description": "Event Address",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "start_date",
                  "description": "Event start date",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "end_date",
                  "description": "Event end date",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "start_time",
                  "description": "Event start time",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "end_time",
                  "description": "Event end time",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "location",
                  "description": "Event Location",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "is_public",
                  "description": "Event is public or not",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "is_active",
                  "description": "Event is active or not",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "contact_person",
                  "description": "Event organizer contact name",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "contact_number",
                  "description": "Contact number of Event organizer",
                  "required": true,
                  "type": "string"
                },
                {
                  "in": "body",
                  "name": "website",
                  "description": "Event website",
                  "required": true,
                  "type": "string"
                }
              ],
              "responses": {
                  "200": {
                      "description": "Success"
                  }
              }
            }
          
        },
        "/events/v0/media": {
          "post": {
            "summary": "Upload a Picture.",
            "tags": ["module:events"],
            "security": [
                {
                    "Bearer": [

                    ]
                }
            ],
            "parameters": [
               
                {
                    "in": "query",
                    "name": "id",
                    "description": "ID of source to upload picture.",
                    "required": true,
                    "type": "integer"
                },
                 {
                    "in": "query",
                    "name": "media_for",
                    "description": "Type of model like company_logo, company_brand, profile, associate_profile,event.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "body",
                    "name": "image_file",
                    "description": "Image File Content.",
                    "required": true,
                    "type": "string"
                }
            ],
            "produces": [
               "application/json"
            ],                
            "responses": {
                "200": {
                    "description": "Success"
                },
                "400": {
                    "description": "Bad Request"
                },
                "401": {
                    "description": "Unauthorized"
                }
            }
          },
          "get": {
            "summary": "get Picture.",
            "tags": ["module:events"],
            "security": [
                {
                    "Bearer": [

                    ]
                }
            ],
            "parameters": [
               
                {
                    "in": "path",
                    "name": "id",
                    "description": "ID of Picture",
                    "required": true,
                    "type": "integer"
                }
            ],
            "produces": [
               "application/json"
            ],                
            "responses": {
                "200": {
                    "description": "Success"
                },
                "400": {
                    "description": "Bad Request"
                },
                "401": {
                    "description": "Unauthorized"
                }
            }
          }

        },
        "/events/v0/events/{eventId}": {
            "get": {
                "summary": "Get information about a specific event",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": [

                        ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "put": {
                "summary": "Update an Event.",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": [

                        ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "tenantId",
                        "description": "ID of tenant",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event that needs to be update",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/events/v0/events/{eventId}/attend": {
           "post": {
                "summary": "Send RSVP to an Event",
                "tags": ["module:events"],
                "security": [
                    {
                        "Bearer": [

                        ]
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "eventId",
                        "description": "ID of event",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        }    
    }
}